<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" data-controller="profile--edit"
     data-experience-id={{ object.id }}>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="modal-close" aria-hidden="true">&times</span>
            </button>
        </div>
        <div class="modal-body">

            <form enctype="multipart/form-data" id="profileFormEdit" method="POST"
                  action="{% url 'blog:profile_show' object.id %}">
                <input type="hidden" name="_method" value="PATCH">

                {% csrf_token %}

                <div class="box">
                    <div>
                        {% for field in form %}
                            <div class="box-item">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}

                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </form>
            <button form="profileFormEdit" id="profile-btn-edit" class="btn buttons float-right flex-elem"
                    type="submit" value="Send">Update
            </button>
        </div>
    </div>
</div>

