{% extends 'blog/index.html' %}

{% block content %}

    <div class="card">
        <div class="card-header">
            Experience
        </div>
        <div class="card-body">
            <div class="d-sm-flex justify-content-between">
                <h5 class="mb-1">{{ exp_detail.position }}</h5>
                <h5 class="mb-1">{{ exp_detail.company }}</h5>
                <h5 class="mb-1">{{ exp_detail.date_start }}</h5>
                <h5 class="mb-1">{{ exp_detail.date_end }}</h5>
                <h5 class="mb-1">{{ exp_detail.region }}</h5>
            </div>
            <a href='{% url 'blog:user_page' %}' type="button" class="btn btn-outline-success float">
                Go back
            </a>

            <a href="/update_page/{{ exp_detail.id }}" class="btn btn-outline-success float-right">
                Edit
            </a>

        </div>
    </div>

    {% include 'blog/experience.html' %}

{% endblock %}