<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>My Job</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    {# jQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {# Bootstrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    {# FontAwesome #}
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="/blog/static/libs/font/fontawesome.min.css"/>

    {# Toastr #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    {# StimulusJS #}
    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>

    {# Custom styles #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">

    {#    js-cookie#}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    {#    sweetalert#}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</head>

<body>

<header>
    {% if request.user.is_authenticated %}

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e6e6e6;">

                <div class="navbar-nav">
                    <a class="buttons" href="{% url 'blog:user_page_url' %}">Profile</a>
{#                    <a class="nav-item nav-link" href="#">Friends</a>#}
                </div>
                <a class="navbar-logo center" href="{% url 'blog:dashboard' %}">
                    <img src="{% static 'img/blog/logo.png' %}">
                </a>
                <div class="nav-user">
                    <button type="button" class="btn navbar-light buttons"><a
                            href="{% url 'blog:logout_then_login' %}">Log out</a></button>
                </div>

            </nav>
        </div>

    {% endif %}


</header>

<section>
    <div class="container">
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

</section>


<footer class="footer">
    <div class="container">
        <div class="text">
        </div>
    </div>
</footer>


<div data-controller="modal" class="modal" id="modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">

</div>

<script type="module" src="{% static 'js/index.js' %}"></script>


</body>
</html>