{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    {% if update %}

        <p>Страница редактирования</p>


        <form id="update_date" method="post" action="{% url 'blog:user_experience' %}">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                {% endfor %}
            </div>
        </form>
        <button form="update_date" class="btn btn-outline-success" type="submit" value="Send">Update
        </button>



    {% else %}

        <div class="card-body">
            <div class="d-sm-flex justify-content-between">
                <h5 class="mb-1">{{ exp_detail.position }}</h5>
                <h5 class="mb-1">{{ exp_detail.company }}</h5>
                <h5 class="mb-1">{{ exp_detail.date_start }}</h5>
                <h5 class="mb-1">{{ exp_detail.date_end }}</h5>
                <h5 class="mb-1">{{ exp_detail.region }}</h5>
            </div>
        </div>

    {% endif %}
{% endblock %}
