{% extends 'blog/index.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <!-- MAIN -->
        <main class="col-md-8 col-lg-9">
            <div class="card card-body">

                <div class="card">
                    <div class="card-header">
                        Experience
                    </div>
                    <div class="card-body">
                        {% for field in experience %}
                            <ul class="list-group list-group-flush">
                                <a href="/user/detail/{{ field.id }}" class="list-group-item">
                                    <div class="d-sm-flex justify-content-between">
                                        <h5 class="mb-1">{{ field.position }}</h5>
                                        <h5 class="mb-1">{{ field.company }}</h5>
                                        <h5 class="mb-1">{{ field.date_start }}</h5>
                                        <h5 class="mb-1">{{ field.date_end }}</h5>
                                        <h5 class="mb-1">{{ field.region }}</h5>
                                    </div>
                                </a>
                            </ul>
                        {% endfor %}
                        <button type="button" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#experienceModal">
                            Add experience
                        </button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Education
                    </div>
                    <div class="card-body">

                        {% for field in education %}
                            <ul class="list-group list-group-flush">
                                <a href="#" class="list-group-item">
                                    <div class="d-sm-flex justify-content-between">
                                        <h5 class="mb-1">{{ field.institution }}</h5>
                                    </div>
                                </a>
                            </ul>
                        {% endfor %}

                        <button id="button-education" class="btn btn-outline-success" data-toggle="modal"
                                data-target="#educationModal"> Go to popup education
                        </button>

                    </div>
                </div>
            </div>

        </main>

        <!-- ASIDE -->
        <div class="col-md-4 col-lg-3">
            <div class="row">
                <!-- ASIDE #1 -->
                <aside class="col-sm-6 col-md-12">
                    <div>{{ experience }}</div>
                </aside>

                <!-- ASIDE #2 -->
                <aside class="col-sm-6 col-md-12">
                </aside>
                <div class="row">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal experience -->
    {% include 'blog/experience.html' %}

    <!-- Modal education-->
    {% include 'blog/education.html' %}


{% endblock %}
