{% extends 'blog/index.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <!-- MAIN -->
        <main class="col-md-8 col-lg-9">
            <div class="card card-body">

                <div data-load=true data-controller="experience--index">
                </div>

                <div data-load=true data-controller="education--index">
                </div>

                <div class="card">
                    <div class="card-header">
                        Certificates
                    </div>

                    <div class="card-body">

                        <button id='addSertificates' class="btn btn-outline-success" data-toggle="modal"
                                data-target="#modal"> Add sertificates
                        </button>
                    </div>

                </div>
            </div>

        </main>

        <!-- ASIDE -->
        <div class="col-md-4 col-lg-3">
            <div class="row">
                <!-- ASIDE #1 -->
                <aside class="col-sm-6 col-md-12">
                    <div>{{ experience }}</div>
                </aside>

                <!-- ASIDE #2 -->
                <aside class="col-sm-6 col-md-12">
                </aside>
                <div class="row">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
