.navbar-logo img {
    width: 100px;
}

.navbar-logo {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    color: red;
}

.login-form {
    width: 35%;
    margin: auto;
}

/* Bordered form */
.login-form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*.btn {*/
/*    border: red;*/
/*    color: blue;*/
/*    border-bottom: black;*/
/*}*/

/*!* Add a hover effect for buttons *!*/
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 50%;
}

.card {
    margin-bottom: 20px;
}

.col-lg-9, .col-lg-3 {
    margin-top: 20px;
}

.container-title {
    text-align: center;
    margin-bottom: 20px;
    /*font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
    font-weight: 700;
    font-size: 20px;

}