.navbar-logo img {
    width: 100px;
}

.navbar-logo {
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    color: red;
}

.login-form {
    width: 35%;
    margin: auto;
}

/* Bordered form */
.login-form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*.btn {*/
/*    border: red;*/
/*    color: blue;*/
/*    border-bottom: black;*/
/*}*/

/*!* Add a hover effect for buttons *!*/
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer, .log_in_message {
    text-align: center;
    margin: 24px 0 12px 0;
}

.login_message {
    text-align: center;
    margin: 24px 0 12px 0;
    /*border: solid;*/
    background-color: #f1dede;
    /*opacity: 0.2;*/
    color: #bd4f4f;
    border-radius: 4px;
    padding: 15px;
}

/* Avatar image */
img.avatar {
    width: 50%;
}

.card {
    margin-bottom: 20px;
}

.col-lg-9, .col-lg-3 {
    margin-top: 20px;
}

.container-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;

}

.login-box {
    width: 25%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
}

#id_email {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

.fa-graduation-cap {
    opacity: 0.5;
    height: 40px;
}

.text-description {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    /*text-overflow: ellipsis;*/
}

/*.form-calendar {*/
/*    display: table-cell;*/
/*    font-size: 14px;*/
/*    width: 60px;*/
/*    height: 40px;*/
/*    !*background: gold;*!*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/

.form-calendar {
    float: none; /*Задаем обтекание*/
    line-height: 60px; /*Высота строки +  верт. центрирования текста*/
    font-size: 14px;
    /*background: dodgerblue;*/
    color: black;
    margin-top: 10px;
    width: 80px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center;
}

.skill-name {
    background-color: rgba(0,0,0,.03);
    border-radius: 5px;
}