<div class="card" data-controller="skill--index">
    <h5 class="card-header">
        Skills & Technologies
    </h5>
    <div class="card-body ">
        <form method="POST" action="{% url 'blog:skill_index' %}">
            {% csrf_token %}

            <div class="row">

                <div class=" col-10 pr-0">

                    {% for field in form_skills %}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field }}
                    {% endfor %}
                </div>

                <div class="col-2 pr-0">
                    <button class="btn buttons mt-2 p-lg-2" value="Send" type="submit"> Add
                    </button>
                </div>
            </div>

            <div class="row">
                {% for skill in skills %}
                    <div class="skill-name col-3 d-flex flex-row justify-content-center border mx-4 mr-2 my-2 "
                         data-id={{ skill.id }}>
                        <p class="mb-1 mr-2">{{ skill.name }}</p>

                        <i class="fas fa-trash mt-1"
                           data-action="click->skill--index#deleteObject"></i>
                    </div>
                {% endfor %}
            </div>

        </form>
    </div>


</div>
