{% load static %}
<section class="section about-section gray-bg mb-3" id="about" data-controller="friend--index">

    <div class="container">
        <h3>All users</h3>
        {% for user in users %}
            {% if user.is_staff == False %}
                <nav class="navbar navbar-friend navbar-light bg-light mb-2">
                    <a class="navbar-brand" href='{% url 'blog:user_page_url' user.id %}'>
                        <img src="{{ user.profile.profile_image.url }}" width="30" height="30"
                             class="d-inline-block align-top">
                        {% if user.first_name or user.last_name %}
                            {{ user.first_name }}
                            <p>{{ user.last_name }}</p>
                        {% else %}
                            <p>{{ user.username }}</p>
                        {% endif %}
                    </a>


                    {% if not user in friends %}
                        <a href="{% url 'blog:change_friends' operation='add' id=user.id %}">
                            <button type="button" class="btn buttons">
                                Add
                            </button>
                        </a>
                    {% endif %}
                </nav>
            {% endif %}
        {% endfor %}
    </div>

</section>

<section class="section about-section gray-bg mb-3">
    <div class="container">
        <h3>Friends</h3>

        {% for friend in friends %}
            <nav class="navbar navbar-friend navbar-light mb-2">
                <a class="navbar-brand" href='{% url 'blog:user_page_url' friend.id %}'>
                    <img src="{{ friend.profile.profile_image.url }}" width="30" height="30"
                         class="d-inline-block align-top">

                    {% if friend.first_name or friend.last_name %}
                        {{ friend.first_name }}
                        {{ friend.last_name }}
                    {% else %}
                        {{ friend.username }}
                    {% endif %}
                </a>
                <a href="{% url 'blog:change_friends' operation='remove' id=friend.id %}">
                    <button type="button" class="btn buttons">
                        Remove
                    </button>
                </a>
            </nav>
        {% endfor %}
    </div>
</section>
