<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" data-controller="education--edit"
     data-experience-id={{ object.id }}>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit education</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="modal-close" aria-hidden="true">&times</span>
            </button>
        </div>

        <div class="modal-body">

            <form id="educationFormEdit" action="{% url 'blog:education_edit' object.id %}">

                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}

            </form>
            <button type="button" class="btn btn-secondary" data-action="click->experience--edit#preDeleteObject"
                    data-toggle="modal"
                    data-target="#modal">Delete
            </button>
            <button id="education-btn-edit" class="btn btn-outline-success float-right"
                    data-action="click->education--edit#updateForm"
                    type="submit" value="Send">Update
            </button>
        </div>
    </div>
</div>