<div class="card" data-controller="experience--index">
    <h5 class="card-header">
        Experience
        <button data-action="click->experience--index#loadForm" class="btn float-right buttons"
                data-toggle="modal"
                data-target="#modal"> Add experience
        </button>
    </h5>


    <div class="row">
        {% for experience in experiences %}
            <div class="col-1 mt-5">
                <svg width="5em" height="2em" viewBox="0 0 16 16" class="bi bi-briefcase ">
                    <path fill-rule="evenodd"
                          d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6h-1v6a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-6H0v6z"></path>
                    <path fill-rule="evenodd"
                          d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5v2.384l-7.614 2.03a1.5 1.5 0 0 1-.772 0L0 6.884V4.5zM1.5 4a.5.5 0 0 0-.5.5v1.616l6.871 1.832a.5.5 0 0 0 .258 0L15 6.116V4.5a.5.5 0 0 0-.5-.5h-13zM5 2.5A1.5 1.5 0 0 1 6.5 1h3A1.5 1.5 0 0 1 11 2.5V3h-1v-.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5V3H5v-.5z"></path>
                </svg>
            </div>

            <div class="col-9">
                <div class="container-fluid">
                    <a href="#" class="experience list-group-item-action mb-2"
                       data-action="click->experience--index#editForm"
                       data-toggle="modal"
                       data-target="#modal" data-id={{ experience.id }}>
                        <h5 class="mb-1 font-weight-bold">{{ experience.position }}</h5>
                        <p class="mb-1">{{ experience.company }}</p>
                        <p class="mb-1">{{ experience.date_start }}</p>
                        <p class="mb-1">{{ experience.date_end }}</p>
                        <p class="mb-1">{{ experience.region }}</p>
                        <p class="mb-1">{{ experience.description }}</p>
                        <hr>
                    </a>
                </div>
            </div>

            <div class="col-2">
                <i class="buttons"
                        data-action="click->experience--index#editForm"
                        data-toggle="modal"
                        data-target="#modal" data-id={{ experience.id }}>edit
                </i>
                <i class="buttons mr-5"
                        data-action="click->experience--index#deleteObject" data-id={{ experience.id }}>delete
                </i>


            </div>
        {% endfor %}
    </div>
</div>
