{% include 'blog/index.html' %}
{% load static %}

{% if form.errors %}

    <div class="form">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="login-box d-flex flex-column">

                    <div class="imgcontainer">
                        <img src={% static 'img/logo.png' %} width='' alt="Avatar"
                             class="avatar">
                    </div>

                    <div class="log_in_message font-weight-bold">Make the most of your professional life</div>

                    <p class="login_message">
                        Your username and password didn't match.
                        Please try again.
                    </p>

                    <input type="input" class="form-control" name="username" id="inputEmail" placeholder="Username"
                           required>
                    <input type="password" class="form-control" name="password" id="inputPass" placeholder="Password"
                           required>
                    <button class="btn-login" type="submit">Login</button>
                    <div style='text-align: center'><a href="{% url 'blog:register' %}">I DON'T HAVE AN ACCOUNT YET</a>
                    </div>
                </div>

            </div>

        </form>

    </div>

{% else %}

    <div class="container">

        <div class="form">
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="login-box d-flex flex-column">

                        <div class="imgcontainer">
                            <img src={% static 'img/logo.png' %} width='' alt="Avatar"
                                 class="avatar">
                        </div>
                        <div class="log_in_message font-weight-bold">Make the most of your professional life</div>

                        <input type="input" class="form-control" name="first_name" id="inputFirstName" placeholder="First name"
                               required>
                        <input type="input" class="form-control" name="last_name" id="inputLastName"
                               placeholder="Last name"
                               required>
                        <button class="btn-login" type="submit">Continue</button>
                        <div style='text-align: center'><a href="{% url 'blog:register' %}">I DON'T HAVE AN ACCOUNT
                            YET</a>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>

{% endif %}